<div class="col-xs-2">
  <h2>
    <a routerLink="/home">
      <span class="glyphicon glyphicon-circle-arrow-left blue"></span>
    </a>
  </h2>
</div>
<div class="col-xs-8">
  <h2 class="center">
    Ajout d'un adhérent
  </h2>
</div>

<br/>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <form #ajouterAdherent="ngForm">
      <div class="row">
        <div class="col-xs-4">
          <label for="nomAdherent">
            Nom de l'adhérent :
          </label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" name="nomAdherent" id="nomAdherent"
                 required [(ngModel)]="adherent.nomAdherent" #nomAdherent="ngModel">
          <div [hidden]="nomAdherent.valid || nomAdherent.pristine"
               class="alert alert-danger">
            Le nom de l'adhérent est requis.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <label for="prenomAdherent">
            Prenom de l'adhérent :
          </label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" name="prenomAdherent" id="prenomAdherent"
                 required [(ngModel)]="adherent.prenomAdherent" #prenomAdherent="ngModel">
          <div [hidden]="prenomAdherent.valid || prenomAdherent.pristine"
               class="alert alert-danger">
            Le prénom de l'adhérent est requis.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <label for="villeAdherent">
            Ville de l'adhérent :
          </label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" name="villeAdherent" id="villeAdherent"
                 required [(ngModel)]="adherent.villeAdherent" #villeAdherent="ngModel">
          <div [hidden]="villeAdherent.valid || villeAdherent.pristine"
               class="alert alert-danger">
            La ville de l'adhérent est requise.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <!-- Boutons Ajouter -->
          <button type="submit" class="btn btn-info btn-lg" [disabled]="!ajouterAdherent.form.valid"
                  (click)="addAdherent(); ajouterAdherent.reset();">Ajouter
          </button>
        </div>
      </div>
    </form>
    <div class="alert" [hidden]="result.status === '' && result.message === ''"
         [ngClass]="{'alert-success': result.status === 'success', 'alert-danger': result.status === 'error'}">
      {{result.message}}
    </div>
  </div>
</div>
