<div class="row">
  <div class="col-xs-2">
    <h2>
      <a routerLink="/home">
        <span class="glyphicon glyphicon-circle-arrow-left blue"></span>
      </a>
    </h2>
  </div>
  <div class="col-xs-8">
    <h2 class="center">
      Listing des Adhérents
    </h2>
  </div>
</div>

<br/>

<div class="row">
  <table class="table tableCenter">
    <tr>
      <th>Numero</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Ville</th>

    </tr>
    <tr *ngFor="let adherent of adherents">
      <td>{{adherent.idAdherent}}</td>
      <td>{{adherent.nomAdherent}}</td>
      <td>{{adherent.prenomAdherent}}</td>
      <td>{{adherent.villeAdherent}}</td>
    </tr>
  </table>
</div>
