<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2 class="center">
      Formulaire de modifications d'oeuvres
    </h2>
  </div>
</div>

<div class="row center" style="text-align: left">
  <div class="col-sm-10 col-sm-offset-1">
    <form #modifierOeuvre="ngForm">
      <div class="row">
        <div class="col-xs-4">
          <label for="titreOeuvrevente">
            Titre de l'œuvre :
          </label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="text" name="titreOeuvrevente" id="titreOeuvrevente"
                 required [(ngModel)]="oeuvrevente.titreOeuvrevente" #titreOeuvrevente="ngModel">
          <div [hidden]="titreOeuvrevente.valid || titreOeuvrevente.pristine"
               class="alert alert-danger">
            Le titre de l'oeuvre est requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label for="prixOeuvrevente">
            Prix :
          </label>
        </div>
        <div class="col-xs-8">
          <input class="form-control" type="number" name="prixOeuvrevente" id="prixOeuvrevente"
                 required [(ngModel)]="oeuvrevente.prixOeuvrevente" #prixOeuvrevente="ngModel">
          <div [hidden]="prixOeuvrevente.valid || prixOeuvrevente.pristine"
               class="alert alert-danger">
            Le prix de l'oeuvre est requis.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <label for="proprietaire">
            Propriétaire :
          </label>
        </div>
        <div class="col-xs-8">
          <select class="form-control" name="proprietaire" id="proprietaire" required
                  [(ngModel)]="oeuvrevente.proprietaire" #proprietaire="ngModel">
            <option *ngFor="let proprietaire of proprietaires" [ngValue]="proprietaire">
              {{proprietaire.prenomProprietaire}} {{proprietaire.nomProprietaire}}
            </option>
          </select>
          <div [hidden]="proprietaire.valid || proprietaire.pristine"
               class="alert alert-danger">
            Le propriétaire de l'oeuvre est requis.
          </div>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <!-- Boutons Ajouter -->
          <button class="btn btn-info btn-lg" type="submit" [disabled]="!modifierOeuvre.form.valid"
                  (click)="modifyOeuvre();">Modifier
          </button>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <a class="btn btn-light btn-lg" routerLink="/listerOeuvre">Annuler</a>
        </div>
      </div>
    </form>
    <div class="alert" [hidden]="result.status === '' && result.message === ''"
         [ngClass]="{'alert-success': result.status === 'success', 'alert-danger': result.status === 'error'}">
      {{result.message}}
    </div>
  </div>
</div>
