<div class="row">
  <div class="col-xs-2">
    <h2>
      <a routerLink="/home">
        <span class="glyphicon glyphicon-circle-arrow-left blue"></span>
      </a>
    </h2>
  </div>
  <div class="col-xs-8">
    <h2 class="center">
      Listing des Œuvres
    </h2>
  </div>
</div>

<br/>

<div class="row">
  <table class="table tableCenter">
    <tr>
      <th>
        Titre
      </th>
      <th>
        Prix
      </th>
      <th class="center">
        Prénom Propriétaire
      </th>
      <th>
        Nom Propriétaire
      </th>
      <th>
        Réserver - Modifier
      </th>
    </tr>

    <tr *ngFor="let oeuvre of oeuvres">
      <td>
        {{oeuvre.titreOeuvrevente}}
      </td>
      <td>
        {{oeuvre.prixOeuvrevente}}
      </td>
      <td>
        {{oeuvre.proprietaire.prenomProprietaire}}
      </td>
      <td>
        {{oeuvre.proprietaire.nomProprietaire}}
      </td>
      <td>
        <a routerLink="/reserverOeuvre/{{oeuvre.idOeuvrevente}}">
          <input type="button" class="btn btn-info btn-lg" value="Réserver"/>
        </a>
        &nbsp;
        &nbsp;
        <a routerLink="/modifierOeuvre/{{oeuvre.idOeuvrevente}}">
          <input type="button" class="btn btn-info btn-lg" value="Modifier"/>
        </a>
      </td>
    </tr>
  </table>
</div>
