<nav>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row" routerLinkActive="active">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a routerLink="/ajouterAdherent">
            <div class="pan pan-green">
              <div class="pan-body"><span class="glyphicon glyphicon-plus"></span></div>
              <div class="pan-footer">Ajouter un Adhérent</div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a routerLink="/ajouterOeuvre">
            <div class="pan pan-green">
              <div class="pan-body"><span class="glyphicon glyphicon-plus"></span></div>
              <div class="pan-footer">Ajouter une Oeuvre</div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a routerLink="/listerAdherent">
            <div class="pan pan-blue">
              <div class="pan-body"><span class="glyphicon glyphicon-edit"></span></div>
              <div class="pan-footer">Lister les Adhérents</div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a routerLink="/listerOeuvre">
            <div class="pan pan-blue">
              <div class="pan-body"><span class="glyphicon glyphicon-duplicate"></span></div>
              <div class="pan-footer">Lister les Oeuvres en vente</div>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a>
            <div class="pan pan-red">
              <div class="pan-body"><span class="glyphicon glyphicon-remove-sign"></span></div>
              <div class="pan-footer">Fermer</div>
            </div>
            <!-- Does not work -->
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
