<nav>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div routerLinkActive="active">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <a routerLink="/ajouterAdherent">
              <div class="pan pan-green">
                <div class="pan-body"><span class="glyphicon glyphicon-plus"></span></div>
                <div class="pan-footer">Ajouter un Adhérent</div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-5 col-lg-offset-2">
            <a routerLink="/ajouterOeuvre">
              <div class="pan pan-green">
                <div class="pan-body"><span class="glyphicon glyphicon-plus"></span></div>
                <div class="pan-footer">Ajouter une Oeuvre</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <a routerLink="/listerAdherent">
              <div class="pan pan-blue">
                <div class="pan-body"><span class="glyphicon glyphicon-edit"></span></div>
                <div class="pan-footer">Lister les Adhérents</div>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-0 col-lg-5 col-lg-offset-2">
            <a routerLink="/listerOeuvre">
              <div class="pan pan-blue">
                <div class="pan-body"><span class="glyphicon glyphicon-edit"></span></div>
                <div class="pan-footer">Lister les Oeuvres en vente</div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
            <div class="row">
              <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                <a routerLink="/">
                  <div class="pan pan-red">
                    <div class="pan-body"><span class="glyphicon glyphicon-remove-sign"></span></div>
                    <div class="pan-footer">Fermer</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
